<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>form </title>

</head>
<body>
  <div class="bg-zinc-900 w-full h-screen p-5">
    <div class="nav mb-10">
      <a href="/read" class="text-blue-500">Read User</a>
    </div>
    <h1 class="text-white text-2xl tracking-tighter mb-3">Update User</h1>
    <form action="/update/<%= user._id %>" method="post">
    
      <input class="bg-transparent px-4 py-2 border-2 border-zinc-800 outline-none  rounded-lg text-white mr-2" type="text" name="name" placeholder="enter your name"  value="<%= user.name %>" >
      <input class="bg-transparent px-4 py-2 border-2 border-zinc-800 outline-none  rounded-lg text-white mr-2" type="text" name="email" placeholder="enter your email" value="<%= user.email%>" >
      <input class="bg-transparent px-4 py-2 border-2 border-zinc-800 outline-none  rounded-lg text-white mr-2" type="text" name="image" placeholder="enter your imageurl" value="<%= user.image %>">
      <input type="submit" class="bg-yellow-500 px-5 py-2 rounded-lg mt-3 text-black-800" value="Update">
    </form>
  </div>
</body>
</html>